
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1>About Us</h1>

<div class="row">
    <div class="col-md-4 text-justify bg-info">
        <div class="row">
            <div class="col-md-12 col-sm-3 col-xs-12">
                <img class="img-responsive img-circle" src="~/images/Jared.jpg" />
            </div>
            <div class="col-md-12 col-sm-9 col-xs-12">
                <h2>Jared Williams</h2>
                <p>
                    Jared is the maker and creator of this site.  He is currently finishing up
                    his final semester at Weber State University to get his degree in Computer Science.
                    Jared works for Davis School District as a front-end developer.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-justify bg-success">
        <div class="row">
            <div class="col-md-12 col-sm-3 col-xs-12">
                <img class="img-responsive img-circle" src="~/images/Brylie.jpg" />
            </div>
            <div class="col-md-12 col-sm-9 col-xs-12">
                <h2>Brylie</h2>
                <p>
                    Brylie is an energetic dog that loves to play.  She espcially loves swimming, fetch,
                    playing tug of war, and, most of all, table scraps.  She also loves the cat and kids.
                    She is 3 years old.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-justify bg-danger">
        <div class="row">
            <div class="col-md-12 col-sm-3 col-xs-12">
                <img class="img-responsive img-circle" src="~/images/Cat1.jpg" />
            </div>
            <div class="col-md-12 col-sm-9 col-xs-12">
                <h2>The Cat</h2>
                <p>
                    Unfortunately, we were never able come to a decision on what the cat's name should be.
                    Potential names passed around were Trouble, Socks, and Meow, but since everyone was divided,
                    no name was chosen.  She loves laying around, getting attention, and coming inside.  She does
                    not like Brylie.
                </p>
            </div>
        </div>
    </div>
</div>